[submodule "Projects"]
	path = Projects
	url = https://github.com/yaswanth2503/Projects.git
[submodule "Projects/Warranty_Tracker"]
    path = Projects/Warranty_Tracker
    url = https://github.com/yaswanth2503/Warranty_Tracker.git
